@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap');

:root {
    --darkolive1b2116: #1b2116;
    --btncheckf2: #f3f2f2;
    --footerbg: #202020;
    --gnb2f: #2f2f2f;
    --brandbg: linear-gradient(90deg,
            rgba(254, 254, 254, 1) 0%,
            rgba(253, 254, 254, 1) 50%,
            rgba(247, 247, 247, 1) 100%);
    --brandtxtbg: linear-gradient(135deg,
            rgba(139, 115, 85, 0.03) 0%,
            rgba(212, 175, 55, 0.03) 100%);
    --brandbutton: linear-gradient(138.99deg,
            rgba(139, 115, 85, 0.1) 0%,
            rgba(212, 175, 55, 0.1) 100%);
    --bg-blackof: #0f0f0f;
    --bg-whitefe: #fefefe;
    --bg-shopf7: #f7f7f7;
    --bg-whitefe: rgba(254, 254, 254, 0.5);
    --font-black1c: #1c1c1c;
    --font-whiteff: #fefefe;
    --font-sub44: #444444;
    --font-sub77: #777777;
    --line-graa: #aaaaaa;
    --line-ffop2: rgba(255, 255, 255, 0.2);
    --line-f0: #f0f0f0;
    --line-grde: #dedede;
    --line-grc7: #c7c7c7;
    --color-green: #4b6d2f;
    --color-greenlight: #879c76;
    --btn-checkf5: #f1f1f1;
    --btn-shopfff4f4: #fff4f4;
    --label-shopmsg: #d18b8b;
    --footer-iconcolor: #f3f2f2;
    --sub-ginseng: #c1843a;
    --sub-rice: #beaf9a;
    --sub-greentea: #4b6d2f;
    --sub-redbean: #712116;
    --sub-propulis: #e6a11c;
    --sub-greenplum: #74822b;
    --sub-centella: #5f6b3d;
    --sub-mugwort: #1b4805;

    /* Fonts */
    --logo60px-font-family: CheongdoL-Light, sans-serif;
    --logo60px-font-size: 60px;
    --logo60px-line-height: 120%;
    --logo60px-font-weight: 300;
    --logo60px-font-style: normal;
    --num18px-font-family: PublicSans-Medium, sans-serif;
    --num18px-font-size: 18px;
    --num18px-line-height: 16.8px;
    --num18px-font-weight: 500;
    --num18px-font-style: normal;
    --num14px-font-family: PublicSans-Medium, sans-serif;
    --num14px-font-size: 14px;
    --num14px-line-height: 16.8px;
    --num14px-font-weight: 500;
    --num14px-font-style: normal;
    --num20px-font-family: PublicSans-Medium, sans-serif;
    --num20px-font-size: 20px;
    --num20px-line-height: 16.8px;
    --num20px-font-weight: 500;
    --num20px-font-style: normal;
    --logo80px-font-family: Scheherazade-Regular, sans-serif;
    --logo80px-font-size: 80px;
    --logo80px-line-height: 120%;
    --logo80px-font-weight: 400;
    --logo80px-font-style: normal;
    --cormorant-m-title48px3rem-font-family: Cormorant-Medium, sans-serif;
    --cormorant-m-title48px3rem-font-size: 48px;
    --cormorant-m-title48px3rem-line-height: 120%;
    --cormorant-m-title48px3rem-font-weight: 500;
    --cormorant-m-title48px3rem-font-style: normal;
    --cormorant-m-title40px25rem-font-family: Cormorant-Medium, sans-serif;
    --cormorant-m-title40px25rem-font-size: 40px;
    --cormorant-m-title40px25rem-line-height: 120%;
    --cormorant-m-title40px25rem-font-weight: 500;
    --cormorant-m-title40px25rem-font-style: normal;
    --cormorant-m-title32px2rem-font-family: Cormorant-Medium, sans-serif;
    --cormorant-m-title32px2rem-font-size: 32px;
    --cormorant-m-title32px2rem-line-height: 120%;
    --cormorant-m-title32px2rem-font-weight: 500;
    --cormorant-m-title32px2rem-font-style: normal;
    --cormorant-m-title30px1875rem-font-family: Cormorant-Medium, sans-serif;
    --cormorant-m-title30px1875rem-font-size: 30px;
    --cormorant-m-title30px1875rem-line-height: 120%;
    --cormorant-m-title30px1875rem-font-weight: 500;
    --cormorant-m-title30px1875rem-font-style: normal;
    --cormorant-m-text24px15rem-font-family: Cormorant-Medium, sans-serif;
    --cormorant-m-text24px15rem-font-size: 24px;
    --cormorant-m-text24px15rem-line-height: 120%;
    --cormorant-m-text24px15rem-font-weight: 500;
    --cormorant-m-text24px15rem-font-style: normal;
    --cormorant-m-title20px125rem-font-family: Cormorant-Medium, sans-serif;
    --cormorant-m-title20px125rem-font-size: 20px;
    --cormorant-m-title20px125rem-line-height: 120%;
    --cormorant-m-title20px125rem-font-weight: 500;
    --cormorant-m-title20px125rem-font-style: normal;
    --cormorant-m-title18px1125rem-font-family: Cormorant-Medium, sans-serif;
    --cormorant-m-title18px1125rem-font-size: 18px;
    --cormorant-m-title18px1125rem-line-height: 120%;
    --cormorant-m-title18px1125rem-font-weight: 500;
    --cormorant-m-title18px1125rem-font-style: normal;
    --publicsans-l-title30px187rem-font-family: PublicSans-Light, sans-serif;
    --publicsans-l-title30px187rem-font-size: 30px;
    --publicsans-l-title30px187rem-line-height: 120%;
    --publicsans-l-title30px187rem-font-weight: 300;
    --publicsans-l-title30px187rem-font-style: normal;
    --publicsans-l-banner40px25rem-font-family: PublicSans-Light, sans-serif;
    --publicsans-l-banner40px25rem-font-size: 40px;
    --publicsans-l-banner40px25rem-line-height: 130%;
    --publicsans-l-banner40px25rem-font-weight: 300;
    --publicsans-l-banner40px25rem-font-style: normal;
    --publicsans-l-banner24px15rem-font-family: PublicSans-Light, sans-serif;
    --publicsans-l-banner24px15rem-font-size: 24px;
    --publicsans-l-banner24px15rem-line-height: 130%;
    --publicsans-l-banner24px15rem-font-weight: 300;
    --publicsans-l-banner24px15rem-font-style: normal;
    --publicsans-l-logo24px15rem-font-family: PublicSans-Light, sans-serif;
    --publicsans-l-logo24px15rem-font-size: 24px;
    --publicsans-l-logo24px15rem-line-height: 130%;
    --publicsans-l-logo24px15rem-font-weight: 300;
    --publicsans-l-logo24px15rem-font-style: normal;
    --publicsans-l-banner20px125rem-font-family: PublicSans-Light, sans-serif;
    --publicsans-l-banner20px125rem-font-size: 20px;
    --publicsans-l-banner20px125rem-line-height: 130%;
    --publicsans-l-banner20px125rem-font-weight: 300;
    --publicsans-l-banner20px125rem-font-style: normal;
    --publicsans-l-18px1125rem-font-family: PublicSans-Light, sans-serif;
    --publicsans-l-18px1125rem-font-size: 18px;
    --publicsans-l-18px1125rem-line-height: 140%;
    --publicsans-l-18px1125rem-font-weight: 300;
    --publicsans-l-18px1125rem-font-style: normal;
    --publicsans-l-num12px075rem-font-family: PublicSans-Light, sans-serif;
    --publicsans-l-num12px075rem-font-size: 12px;
    --publicsans-l-num12px075rem-line-height: 140%;
    --publicsans-l-num12px075rem-font-weight: 300;
    --publicsans-l-num12px075rem-font-style: normal;
    --publicsans-l-btn16px1rem-font-family: PublicSans-Light, sans-serif;
    --publicsans-l-btn16px1rem-font-size: 16px;
    --publicsans-l-btn16px1rem-line-height: 140%;
    --publicsans-l-btn16px1rem-font-weight: 300;
    --publicsans-l-btn16px1rem-font-style: normal;
    --publicsans-l-btn14px0875rem-font-family: PublicSans-Light, sans-serif;
    --publicsans-l-btn14px0875rem-font-size: 14px;
    --publicsans-l-btn14px0875rem-line-height: 140%;
    --publicsans-l-btn14px0875rem-font-weight: 300;
    --publicsans-l-btn14px0875rem-font-style: normal;
    --publicsans-l-40px25rem-font-family: PublicSans-Medium, sans-serif;
    --publicsans-l-40px25rem-font-size: 32px;
    --publicsans-l-40px25rem-line-height: 140%;
    --publicsans-l-40px25rem-font-weight: 500;
    --publicsans-l-40px25rem-font-style: normal;
    --publicsans-l-12px075rem-font-family: PublicSans-Light, sans-serif;
    --publicsans-l-12px075rem-font-size: 12px;
    --publicsans-l-12px075rem-line-height: 140%;
    --publicsans-l-12px075rem-font-weight: 300;
    --publicsans-l-12px075rem-font-style: normal;
    --publicsans-r400-32px2rem-font-family: PublicSans-Regular, sans-serif;
    --publicsans-r400-32px2rem-font-size: 32px;
    --publicsans-r400-32px2rem-line-height: 140%;
    --publicsans-r400-32px2rem-font-weight: 400;
    --publicsans-r400-32px2rem-font-style: normal;
    --publicsans-r400-title24px15rem-font-family: PublicSans-Regular, sans-serif;
    --publicsans-r400-title24px15rem-font-size: 24px;
    --publicsans-r400-title24px15rem-line-height: 130%;
    --publicsans-r400-title24px15rem-font-weight: 400;
    --publicsans-r400-title24px15rem-font-style: normal;
    --publicsans-r400-20px125rem-font-family: PublicSans-Regular, sans-serif;
    --publicsans-r400-20px125rem-font-size: 20px;
    --publicsans-r400-20px125rem-line-height: 130%;
    --publicsans-r400-20px125rem-font-weight: 400;
    --publicsans-r400-20px125rem-font-style: normal;
    --publicsans-r400-18px1125rem-font-family: PublicSans-Regular, sans-serif;
    --publicsans-r400-18px1125rem-font-size: 18px;
    --publicsans-r400-18px1125rem-line-height: 140%;
    --publicsans-r400-18px1125rem-font-weight: 400;
    --publicsans-r400-18px1125rem-font-style: normal;
    --publicsans-r400-16px1rem-font-family: PublicSans-Regular, sans-serif;
    --publicsans-r400-16px1rem-font-size: 16px;
    --publicsans-r400-16px1rem-line-height: 140%;
    --publicsans-r400-16px1rem-font-weight: 400;
    --publicsans-r400-16px1rem-font-style: normal;
    --publicsans-r400-14px0875rem-font-family: PublicSans-Regular, sans-serif;
    --publicsans-r400-14px0875rem-font-size: 14px;
    --publicsans-r400-14px0875rem-line-height: 140%;
    --publicsans-r400-14px0875rem-font-weight: 400;
    --publicsans-r400-14px0875rem-font-style: normal;
    --publicsans-r400-12px075rem-font-family: PublicSans-Regular, sans-serif;
    --publicsans-r400-12px075rem-font-size: 12px;
    --publicsans-r400-12px075rem-line-height: 140%;
    --publicsans-r400-12px075rem-font-weight: 400;
    --publicsans-r400-12px075rem-font-style: normal;
    --publicsans-m500-24px-font-family: PublicSans-Medium, sans-serif;
    --publicsans-m500-24px-font-size: 24px;
    --publicsans-m500-24px-line-height: 130%;
    --publicsans-m500-24px-font-weight: 500;
    --publicsans-m500-24px-font-style: normal;
    --publicsans-m500-18px-font-family: PublicSans-Medium, sans-serif;
    --publicsans-m500-18px-font-size: 18px;
    --publicsans-m500-18px-line-height: 140%;
    --publicsans-m500-18px-font-weight: 500;
    --publicsans-m500-18px-font-style: normal;
    --publicsans-m500-16px-font-family: PublicSans-Medium, sans-serif;
    --publicsans-m500-16px-font-size: 16px;
    --publicsans-m500-16px-line-height: 140%;
    --publicsans-m500-16px-font-weight: 500;
    --publicsans-m500-16px-font-style: normal;
    --publicsans-m500-14px-font-family: PublicSans-Medium, sans-serif;
    --publicsans-m500-14px-font-size: 14px;
    --publicsans-m500-14px-line-height: 140%;
    --publicsans-m500-14px-font-weight: 500;
    --publicsans-m500-14px-font-style: normal;

    /* Effects */
    --1-box-shadow: -1px 2px 7.2px 0px rgba(0, 0, 0, 0.25);
    --2-box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

/* Figma Color Variables of your File */
[data-wwwaesopcom-mode="mode-1"] {
    /* mode-1 */
    --color-orange-49: #ee730a;
    --color-azure-38: #0051c3;
    --color-white-solid: #ffffff;
    --color-grey-19: #313131;
    --color-grey-85: #d9d9d9;
    --shopbtnf9: #f9f9f9;
    --brand: #b59016;
}

[data-beautyofjoseoncom-mode="mode-1"] {
    /* mode-1 */
    --color-white-solid: #ffffff;
    --color-grey-98: #fcfbf9;
    --color-black-solid: #000000;
    --color-grey-67: #acacac;
    --color-grey-13: #212121;
    --color-grey-90: #e5e5e5;
    --color-grey-8: #141414;
    --color-grey-87: #dfdfdf;
    --color-orange-63: #dab668;
    --color-grey-13-20: rgba(33, 33, 33, 0.2);
    --color-grey-93: #f8e4e9;
    --color-violet-7: #0b051d;
    --color-orange-63-5: rgba(207, 147, 112, 0.05);
    --color-grey-33: #545454;
    --color-orange-75: #d0c5b0;
    --color-grey-94: #efefef;
    --color-grey-39: #636262;
    --color-orange-68: #edc56d;
    --color-grey-7: #121212;
    --color-grey-62: #9f9f9f;
    --color-grey-89: #e2e2e2;
    --color-grey-48: #7b7b7b;
    --color-grey-42: #6c6c6c;
    --color-grey-96: #f4f4f6;
    --color-blue-65: #9a9db1;
    --color-white-80: rgba(255, 255, 255, 0.8);
    --color-blue-88: #dbdde4;
    --color-grey-91: #e5e5eb;
    --color-grey-97: #f7f7f8;
    --color-blue-21: #272d45;
    --color-grey-13-75: rgba(33, 33, 33, 0.75);
    --color-grey-13-70: rgba(33, 33, 33, 0.7);
    --color-grey-8-60: rgba(20, 20, 20, 0.6);
    --color-white-02: rgba(255, 255, 255, 0);
    --color-grey-20: #343434;
    --color-grey-41: #606a72;
    --color-grey-47: #71727f;
    --color-grey-98-20: rgba(252, 251, 249, 0.2);
    --88: #888888;
}